<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fvbox">

    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <application
        android:name=".BoxApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${appName}"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FvBox"
        tools:replace="android:label">
        <activity
            android:name=".app.ui.welcome.WelcomeActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/WelcomeTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".app.ui.main.MainActivity"
            android:exported="true" />

        <activity android:name=".app.ui.local.LocalAppActivity" />

        <activity
            android:name=".app.ui.tab.UserSelectActivity"
            android:theme="@style/Theme.FvBox.HalfTranslationTheme" />
        <activity android:name=".app.ui.install.BoxInstallActivity" />
        <activity android:name=".app.ui.setting.PreferenceActivity" />
        <activity android:name=".app.ui.setting.search.SearchActivity" />
        <activity android:name=".app.ui.info.AppInfoActivity" />

        <activity
            android:name=".app.ui.main.ShortcutActivity"
            android:excludeFromRecents="true"
            android:exported="true" />
        <activity android:name=".app.ui.web.WebActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

    </application>

</manifest>
